# --- Facilitator config ---
PORT=4022
LOG_LEVEL=info
CASPER_NETWORKS=casper:casper-test
SECRET_KEY_PEM_CASPER_CASPER_TEST="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
SECRET_KEY_ALGO_CASPER_CASPER_TEST=ed25519
RPCURL_CASPER_CASPER_TEST=https://node.testnet.casper.network/rpc
TRANSACTION_PAYMENT_MOTES=15000000000

# --- Resource server config ---
SERVER_PORT=4021
PAYEE_ADDRESS=00<64 hex chars, account-hash de la wallet que cobra>
FACILITATOR_URL=http://localhost:4022
CAIP2_CHAIN_ID=casper:casper-test
ASSET_PACKAGE=3d80df21ba4ee4d66a2a1f60c32570dd5685e4b279f6538162a5fd1314847c1e
ASSET_NAME=Wrapped CSPR

# --- Test client config ---
CLIENT_PRIVATE_KEY_PATH=../keys/underwriter_A_secret_key.pem
CLIENT_KEY_ALGO=ed25519
SERVER_URL=http://localhost:4021
